{% extends "website/base.html" %}
{% block title %}Home{% endblock %}
{% block activeHome %}class="active"{% endblock %}
{% block content1 %}
<div class="container">

    <p>
    <div id='table'>
      <table class="table table-condensed" >
          <thead>
            <tr class ='info'>
              <th>NOM</th>
              <th>IP</th>
              <th>MAC</th>
              <th>BRAND</th>
              <th>MODEL</th>
            </tr>
          </thead>
          <tbody>
          {% for comp in computerList %}
              <tr>
                <td>{{ comp.0 }}</td>
                <td>{{ comp.1 }}</td>
                <td>{{ comp.2 }}</td>
                <td>{{ comp.3 }}</td>
                <td>{{ comp.4 }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
   	</p>
</div>
{% endblock %}
