{% extends "website/base.html" %}
{% block active %}Home{% endblock %}
{% block active2 %}Home{% endblock %}
{% block content1 %}
<div class="jumbotron">
	<h1>Computer List</h1>
    <p>
    	<table BORDER ="2" style="width:100%" >
    		<tr>
    			<th>Num Ordinateur</th>
    			<th>Nom Ordinateur</th>
    			<th>Adresse IP</th>
    		</tr>
   			<tr>
   				<td>test2</td>
   				<td>sdd</td>
    			<td>qae</td>
    		</tr>
    	</table>
   	</p>
	<p>
    	<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
	</p>
</div>
{% endblock %}