<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}
        <title>HHOSD | {% block title %}Login{% endblock %}</title>
  </head>
  <body>
  <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Happy Handsfree OS Deploy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          
            <!-- home -->
            <li {% block activeHome %}{% endblock %}><a href="/">Home</a></li>
            
            <!-- examination -->
            <!--  url "taxe_app.views.addBanque" -->
            <li class="dropdown {% block activeEX %}{% endblock %}" >
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examination</a>
                <ul class="dropdown-menu">
                    <li {% block activeEXGRP %}{% endblock %}><a href="examination/group">Group</a></li>
                    <li {% block activeEXCMP %}{% endblock %}><a href="examination/computer">Computer</a></li>
                </ul>
            </li>
            
            <!-- edition -->
            <li class="dropdown">
                <a href="edition" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edition</a>
                <ul class="dropdown-menu">
                    <li><a href="edition/computer">Computer</a></li>
                    <li><a href="edition/group">Group</a></li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Master</a>
                        <ul class="dropdown-menu">
                            <li><a href="/">test home</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- task -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Task</a>
                <ul class="dropdown-menu">
                    <li><a href="edition/computer">Computer</a></li>
                    <li><a href="edition/group">Group</a></li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Master</a>
                        <ul class="dropdown-menu">
                            <li><a href="/">test home</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
    	{% block content1 %}{% endblock %}
    </div> <!-- /container -->
    
    <div class="container">
    	{% block content2 %}{% endblock %}
    </div> <!-- /container -->


    {% include "jscore.html" %}
  </body>
    
</html>