{% extends "website/base.html" %}
{% block title %}Task Group{% endblock %}
{% block activeTask %}class="active"{% endblock %}

{% block content1 %}
<form class="form-horizontal" method='POST' action='/taskGroup2'>{% csrf_token %}
	<h3>Lancement d'une tache sur un groupe</h3>
	<div class="form-group">
		<label class="col-md-offset-2  col-md-2 control-label">Groupe :</label>
		<select name="groups" id="groups">
			<option value="0"></option>
			{% for grp in groupNameList %}
				<option value="{{ grp.0 }}">{{ grp.0 }}</option>
			{% endfor %}
		</select>
	</div>

	<div class="form-group">
		<label class="col-md-offset-2  col-md-2 control-label">Tache :</label>
		<select name="tasks" id="tasks">
			{% for task in taskNameList %}
				<option value="{{ task.0 }}">{{ task.0 }}</option>
			{% endfor %}
		</select>	
	</div>
	
	<div class="form-group">
		<div class="col-md-offset-4 col-md-2">
			<button type="submit" class="btn btn-default" value="confirm">Confirm</button>
		</div>
	</div>

</form>
{% endblock %}